In [1]:
import numpy as np

In [2]:
import pandas as pd

In [2]:
data = pd.read_csv("/public/bmort/python/heart.csv")

NameError: name 'pd' is not defined

In [1]:
data

NameError: name 'data' is not defined

In [5]:
data.isnull().values.any()

False

In [21]:
data.describe()

,age,sex,pain,bp,chol,sugar,ecg,rate,angina,stv,sts,mvn,thal,disease
count,300.000000,300.000000,300.000000,300.000000,300.00000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.00000
mean,54.480000,0.680000,3.153333,131.626667,246.93000,0.146667,0.986667,149.683333,0.326667,1.049667,1.603333,0.670000,4.726667,0.46000
std,9.078049,0.467256,0.965884,17.687759,51.91798,0.354364,0.994881,22.874890,0.469778,1.162471,0.616920,0.936674,1.938508,0.49923
min,29.000000,0.000000,1.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.00000
25%,48.000000,0.000000,3.000000,120.000000,211.00000,0.000000,0.000000,133.750000,0.000000,0.000000,1.000000,0.000000,3.000000,0.00000
50%,56.000000,1.000000,3.000000,130.000000,241.50000,0.000000,0.500000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.00000
75%,61.000000,1.000000,4.000000,140.000000,275.25000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,1.00000
max,77.000000,1.000000,4.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,1.00000

In [98]:
from sklearn import preprocessing
names = ("age", "sex", "pain", "bp", "chol", "sugar", "ecg", "rate", "angina", "stv", "sts", "mvn", "thal", "disease")
age_array = np.array(data['age'])
normalized_arr = preprocessing.normalize([age_array])
pain_array = np.array(data['pain'])
normalized_arr = preprocessing.normalize([pain_array])

In [91]:
scaled_df = pd.DataFrame(normalized, columns = names)

In [48]:
scaled_df.describe()

,age,sex,pain,bp,chol,sugar,ecg,rate,angina,stv,sts,mvn,thal,disease
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,0.170009,0.002165,0.009888,0.409984,0.754239,0.000452,0.003026,0.466482,0.001028,0.003297,0.005042,0.002067,0.014828,0.001440
std,0.033515,0.001517,0.003353,0.061691,0.067465,0.001102,0.003101,0.081412,0.001498,0.003715,0.002108,0.002901,0.006468,0.001587
min,0.091624,0.000000,0.002614,0.191274,0.470831,0.000000,0.000000,0.250818,0.000000,0.000000,0.002121,0.000000,0.006362,0.000000
25%,0.143668,0.000000,0.007338,0.368252,0.711954,0.000000,0.000000,0.414638,0.000000,0.000000,0.003113,0.000000,0.009172,0.000000
50%,0.169857,0.002972,0.010269,0.403958,0.755066,0.000000,0.001266,0.470017,0.000000,0.002365,0.005335,0.000000,0.010723,0.000000
75%,0.192058,0.003254,0.012398,0.454463,0.803373,0.000000,0.006108,0.524841,0.002831,0.005287,0.006454,0.003376,0.021378,0.003065
max,0.301534,0.004445,0.017781,0.621993,0.938076,0.004120,0.008572,0.691056,0.004445,0.022272,0.011704,0.012858,0.031116,0.004445

In [105]:
import sklearn as sk
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.2)

In [107]:
from sklearn import svm
disease = np.array(train['disease'])
clf = svm.LinearSVC()
clf.fit(train, disease)

/software/anaconda3/2019.03/lib/python3.7/site-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [112]:
predict = clf.predict(test)

In [114]:
from sklearn.metrics import confusion_matrix
confusion_matrix(test['disease'], predict)

array([[26,  3],
       [ 5, 26]])